<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fury.deep.project_builder.repository.TeamMapper">

    <select id="findAll" resultMap="TeamResultMap.teamMap">
        SELECT *
        FROM team
    </select>

    <select id="findById" resultMap="TeamResultMap.teamMap">
        SELECT *
        FROM team
        WHERE id = #{id}
    </select>

    <!--  When we want boolean outcomes, we can use the COUNT(*) with CASE  -->
    <select id="existsById" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM team
        WHERE id = #{id}
    </select>
</mapper>