<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fury.deep.project_builder.repository.UserMapper">

    <!--  The useGenerated keys populates the id in the user.  -->
    <insert id="registerUser" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO "user"
            (username, email, password, role, team_id)
        VALUES (#{user.username},
                #{user.email},
                #{user.password},
                #{user.role},
                #{teamId})
    </insert>

    <select id="findByUsername" parameterType="string" resultMap="UserResultMap.userMap">
        SELECT u.id   AS user_id,
               u.username,
               u.email,
               u.password,
               u.role,
               t.id   AS team_id,
               t.name AS team_name

        FROM "user" u
                 JOIN team t ON u.team_id = t.id
        WHERE u.username = #{username}
    </select>
</mapper>